<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>GenreAll</string>
		<key>key</key>
		<string>all</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreHiphop</string>
		<key>key</key>
		<string>hip-hop</string>
		<key>image</key>
		<string>OnboardingGenreCoverHiphop.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreElectro</string>
		<key>key</key>
		<string>electro</string>
		<key>image</key>
		<string>OnboardingGenreCoverElectronic.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreIndie</string>
		<key>key</key>
		<string>indie</string>
		<key>image</key>
		<string>OnboardingGenreCoverIndie.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreFolk</string>
		<key>key</key>
		<string>folk</string>
		<key>image</key>
		<string>OnboardingGenreCoverFolk.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreRock</string>
		<key>key</key>
		<string>rock</string>
		<key>image</key>
		<string>OnboardingGenreCoverRock.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreMetal</string>
		<key>key</key>
		<string>metal</string>
		<key>image</key>
		<string>OnboardingGenreCoverMetal.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreRnb</string>
		<key>key</key>
		<string>rnb</string>
		<key>image</key>
		<string>OnboardingGenreCoverRnb.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreSoul</string>
		<key>key</key>
		<string>soul</string>
		<key>image</key>
		<string>OnboardingGenreCoverSoul.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreBlues</string>
		<key>key</key>
		<string>blues</string>
		<key>image</key>
		<string>OnboardingGenreCoverBlues.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenrePunk</string>
		<key>key</key>
		<string>punk</string>
		<key>image</key>
		<string>OnboardingGenreCoverPunk.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreJazz</string>
		<key>key</key>
		<string>jazz</string>
		<key>image</key>
		<string>OnboardingGenreCoverJazz.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreClassical</string>
		<key>key</key>
		<string>classical</string>
		<key>image</key>
		<string>OnboardingGenreCoverClassical.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreReggae</string>
		<key>key</key>
		<string>reggae</string>
		<key>image</key>
		<string>OnboardingGenreCoverReggae.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenrePop</string>
		<key>key</key>
		<string>pop</string>
		<key>image</key>
		<string>OnboardingGenreCoverPop.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreLatin</string>
		<key>key</key>
		<string>latin</string>
		<key>image</key>
		<string>OnboardingGenreCoverLatin.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>GenreWorld</string>
		<key>key</key>
		<string>world</string>
		<key>image</key>
		<string>OnboardingGenreCoverWorld.jpg</string>
	</dict>
</array>
</plist>
